$top: 999;
$left-width: 200px;
$main-color: #eee;
$main-bg-color: #444;
$border-left-bg-color: red;
$border-bottom-bg-color: blue;
$border-bottom-default-height: 50px;
$main-side-padding: 300px;
$handleHeight: 8px;
$handleBgColor: #777;
$handleMovingColor: #AAAAAA;
$handleConstrainedBgColor: #966;
